<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>StudentRecord</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Student Details</h2>
    <div>
        <form class="form-horizontal" th:object="${student}" th:action="@{/student}" method="post">
            <input type="hidden" th:field="*{id}"/>
            
            
            <div class="row">
                <label class="col-25">Name:</label>
                <div class="col-75">
                    <input type="text" class="row" th:field="*{name}"/>
                </div>
            </div>
            <div class="row">
                <label class="col-25">Section:</label>
                <div class="col-75">
                    <input type="text" class="row" th:field="*{section}"/>
                </div>
            </div>
            <div class="row">
                <label class="col-25">DOB:</label>
                <div class="col-75">
                    <input type="date" class="row" th:field="*{dob}"/>
                </div>
            </div>
            <div class="col-25">
                <input type="submit" value="Submit"></input>
            </div>
        </form>
    </div>
</div>
</body>
</html>
